/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0;
}

:root {
  --color-red: #f72210;
  --bg-color-red: #f72210;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #333;
}

/*
    ==============================================
                ****** NAVBAR ******
    ==============================================
*/

.bg {
  background-color: #f72210;
}

.btn {
  width: 13rem;
  height: 2.5rem;
}

.middle {
  border-right: 1px solid rgb(190, 184, 184);
  padding-right: 1.8rem;
}

.nav-bottom {
  border-bottom: 10px solid rgb(190, 184, 184);
  border-top: 1px solid  rgb(190, 184, 184);
}

.text {
  color: rgb(151, 142, 142) !important;
  font-size: 1.5rem;
}

.trend {
  color: black !important;
}

.text:hover,
.middle:hover {
  color: red !important;
}

nav svg {
  fill: white;
}

.parallelogram {
  position: absolute;
  top: 0;
  right: 0;
  width: 72px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

/*
    ==============================================
                ****** FOOTER ******
    ==============================================
*/

#footer-img {
  fill: #f72210;
}

.icon {
  float: right;
  padding-top: 2.1rem;
}

.copy {
  display: inline-block;
  margin-top: 2rem;
}

.top-footer {
  border-bottom: 1px solid rgb(190, 184, 184);
  padding-bottom: 0.7rem;
}

.fab {
  margin-left: 1rem;
}

.f-mid {
  color: rgb(190, 184, 184) !important;
}

.f-mid:hover {
  color: black !important;
}
