/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

.bg {
  background-color: #f42;
}

.btn {
  width: 13rem;
  height: 2.5rem;
}

.middle {
  border-right: 1px solid rgb(190, 184, 184);
  padding-right: 1.8rem;
}

.nav-bottom {
  border-bottom: 10px solid rgb(190, 184, 184);
  border-top: 1px solid  rgb(190, 184, 184);
}

.text {
  color: rgb(151, 142, 142) !important;
  font-size: 1.5rem;
}

.trend {
  color: black !important;
}

.text:hover,
.middle:hover {
  color: red !important;
}

nav svg {
  fill: white;
}

.fab {
  margin-left: 1rem;
}
